@font-face {
    font-family: 'RobotoRegular';
    src: url('fontface/Roboto-Regular-webfont.eot');
    src: url('fontface/Roboto-Regular-webfont_B38582A2.eot') format('embedded-opentype'),
         url('fontface/Roboto-Regular-webfont.woff') format('woff'),
         url('fontface/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fontface/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoBold';
    src: url('fontface/Roboto-Bold-webfont.eot');
    src: url('fontface/Roboto-Bold-webfont_B38582A2.eot') format('embedded-opentype'),
         url('fontface/Roboto-Bold-webfont.woff') format('woff'),
         url('fontface/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fontface/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('fontface/TitilliumText22L004-webfont.eot');
    src: url('fontface/TitilliumText22L004-webfont_B38582A2.eot') format('embedded-opentype'),
         url('fontface/TitilliumText22L004-webfont.woff') format('woff'),
         url('fontface/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('fontface/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MaidenOrangeRegular';
    src: url('fontface/MaidenOrange-webfont.eot');
    src: url('fontface/MaidenOrange-webfont_B38582A2.eot') format('embedded-opentype'),
         url('fontface/MaidenOrange-webfont.woff') format('woff'),
         url('fontface/MaidenOrange-webfont.ttf') format('truetype'),
         url('fontface/MaidenOrange-webfont.svg#MaidenOrangeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BellCentAddBTAddress';
    src: url('fontface/belceadr-webfont.eot');
    src: url('fontface/belceadr-webfont_B38582A2.eot') format('embedded-opentype'),
         url('fontface/belceadr-webfont.woff') format('woff'),
         url('fontface/belceadr-webfont.ttf') format('truetype'),
         url('fontface/belceadr-webfont.svg#BellCentAddBTAddress') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'FrancoisOneRegular';
    src: url('fontface/FrancoisOne-webfont.eot');
    src: url('fontface/FrancoisOne-webfont_B38582A2.eot') format('embedded-opentype'),
         url('fontface/FrancoisOne-webfont.woff') format('woff'),
         url('fontface/FrancoisOne-webfont.ttf') format('truetype'),
         url('fontface/FrancoisOne-webfont.svg#FrancoisOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
